<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RoomList</key>
	<dict>
		<key>0</key>
		<string>总经理办公室</string>
		<key>1</key>
		<string>销售总监办公室</string>
		<key>2</key>
		<string>综合办公室</string>
		<key>3</key>
		<string>研发室</string>
		<key>4</key>
		<string>会客室</string>
	</dict>
	<key>Scene</key>
	<dict>
		<key>10</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>0</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>下班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>1</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>迎宾</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>2</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>观影</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>2</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/12</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>生日</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>2</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/12</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
