<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<dict>
		<key>1</key>
		<dict>
			<key>灯2</key>
			<dict>
				<key>objectType</key>
				<string>Light</string>
				<key>ValueLength</key>
				<string>1Bit</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/14</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/1/14</string>
				</dict>
			</dict>
		</dict>
		<key>0</key>
		<dict>
			<key>灯1</key>
			<dict>
				<key>objectType</key>
				<string>Light</string>
				<key>ValueLength</key>
				<string>1Bit</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/7</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/1/7</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
