<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scene</key>
	<dict>
		<key>10</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>0</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>下班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>1</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>迎宾</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>2</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/8</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>观影</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>2</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/12</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>生日</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>2</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/3/12</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/0</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Items</key>
	<dict>
		<key>10</key>
		<dict>
			<key>遥控</key>
			<dict>
				<key>objectType</key>
				<string>RC</string>
				<key>29</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>28</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>27</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>26</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>25</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>24</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>23</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>22</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>21</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>20</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>19</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>18</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>17</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>16</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>15</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>14</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>13</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>12</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>11</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>10</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>9</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>8</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string></string>
				</dict>
				<key>7</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string>下</string>
				</dict>
				<key>6</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string></string>
				</dict>
				<key>5</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string>右</string>
				</dict>
				<key>4</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string>确定</string>
				</dict>
				<key>3</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string>左</string>
				</dict>
				<key>2</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string></string>
				</dict>
				<key>1</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string> 上</string>
				</dict>
				<key>0</key>
				<dict>
					<key>Value</key>
					<string>0</string>
					<key>ValueLength</key>
					<string>1Byte</string>
					<key>WriteToGroupAddress</key>
					<string>7/0/1</string>
					<key>Name</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>调光灯1</key>
			<dict>
				<key>objectType</key>
				<string>Dimming</string>
				<key>Value</key>
				<dict>
					<key>WriteToGroupAddress</key>
					<dict>
						<key>0</key>
						<string>5/0/2</string>
					</dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>5/0/6</string>
					</dict>
				</dict>
				<key>OnOff</key>
				<dict>
					<key>WriteToGroupAddress</key>
					<dict>
						<key>0</key>
						<string>5/0/0</string>
					</dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>5/0/5</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>地暖1</key>
			<dict>
				<key>objectType</key>
				<string>Heating</string>
				<key>EnviromentTemperature</key>
				<dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/1</string>
					</dict>
				</dict>
				<key>SettingTemperature</key>
				<dict>
					<key>WriteToGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/3</string>
					</dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/3</string>
					</dict>
				</dict>
				<key>OnOff</key>
				<dict>
					<key>WriteToGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/0</string>
					</dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/0</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>空调1</key>
			<dict>
				<key>objectType</key>
				<string>AC</string>
				<key>EnviromentTemperature</key>
				<dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/1</string>
					</dict>
				</dict>
				<key>SettingTemperature</key>
				<dict>
					<key>WriteToGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/3</string>
					</dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/3</string>
					</dict>
				</dict>
				<key>WindSpeed</key>
				<dict>
					<key>High</key>
					<string>3</string>
					<key>Mid</key>
					<string>2</string>
					<key>Low</key>
					<string>1</string>
					<key>Auto</key>
					<string>0</string>
					<key>WriteToGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/9</string>
					</dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/9</string>
					</dict>
				</dict>
				<key>Mode</key>
				<dict>
					<key>Desiccation</key>
					<string>3</string>
					<key>Vent</key>
					<string>2</string>
					<key>Heat</key>
					<string>1</string>
					<key>Cool</key>
					<string>0</string>
					<key>WriteToGroupAddress</key>
					<dict>
						<key>0</key>
						<string>0/1/6</string>
					</dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>0/2/6</string>
					</dict>
				</dict>
				<key>OnOff</key>
				<dict>
					<key>WriteToGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/0</string>
					</dict>
					<key>ReadFromGroupAddress</key>
					<dict>
						<key>0</key>
						<string>6/0/0</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>会议区窗帘</key>
			<dict>
				<key>objectType</key>
				<string>Curtain</string>
				<key>Curtain</key>
				<dict>
					<key>StatusHeight</key>
					<string>4/0/13</string>
					<key>MoveToPosition</key>
					<string>4/0/9</string>
					<key>Stop</key>
					<string>4/0/5</string>
					<key>OpenClose</key>
					<string>4/0/1</string>
				</dict>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>运营部窗帘</key>
			<dict>
				<key>objectType</key>
				<string>Curtain</string>
				<key>Curtain</key>
				<dict>
					<key>StatusHeight</key>
					<string>4/0/12</string>
					<key>MoveToPosition</key>
					<string>4/0/8</string>
					<key>Stop</key>
					<string>4/0/4</string>
					<key>OpenClose</key>
					<string>4/0/0</string>
				</dict>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>会议区灯2</key>
			<dict>
				<key>objectType</key>
				<string>Light</string>
				<key>ValueLength</key>
				<string>1Bit</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/12</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/1/12</string>
				</dict>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>会议区灯1</key>
			<dict>
				<key>objectType</key>
				<string>Light</string>
				<key>ValueLength</key>
				<string>1Bit</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/19</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/1/19</string>
				</dict>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>行政部灯</key>
			<dict>
				<key>objectType</key>
				<string>Light</string>
				<key>ValueLength</key>
				<string>1Bit</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/16</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/1/16</string>
				</dict>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>销售部灯</key>
			<dict>
				<key>objectType</key>
				<string>Light</string>
				<key>ValueLength</key>
				<string>1Bit</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/20</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/1/20</string>
				</dict>
			</dict>
		</dict>
		<key>0</key>
		<dict>
			<key>运营部灯</key>
			<dict>
				<key>objectType</key>
				<string>Light</string>
				<key>ValueLength</key>
				<string>1Bit</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/0/21</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>0/1/21</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
