<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>空调1</key>
	<dict>
		<key>objectType</key>
		<string>AC</string>
		<key>EnviromentTemperature</key>
		<dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>6/0/1</string>
			</dict>
		</dict>
		<key>SettingTemperature</key>
		<dict>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>6/0/3</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>6/0/3</string>
			</dict>
		</dict>
		<key>WindSpeed</key>
		<dict>
			<key>High</key>
			<string>3</string>
			<key>Mid</key>
			<string>2</string>
			<key>Low</key>
			<string>1</string>
			<key>Auto</key>
			<string>0</string>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>6/0/9</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>6/0/9</string>
			</dict>
		</dict>
		<key>Mode</key>
		<dict>
			<key>Desiccation</key>
			<string>3</string>
			<key>Vent</key>
			<string>2</string>
			<key>Heat</key>
			<string>1</string>
			<key>Cool</key>
			<string>0</string>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/1/6</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/2/6</string>
			</dict>
		</dict>
		<key>OnOff</key>
		<dict>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>6/0/0</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>6/0/0</string>
			</dict>
		</dict>
	</dict>
	<key>窗帘1</key>
	<dict>
		<key>objectType</key>
		<string>Curtain</string>
		<key>Curtain</key>
		<dict>
			<key>StatusHeight</key>
			<string>4/0/13</string>
			<key>MoveToPosition</key>
			<string>4/0/9</string>
			<key>Stop</key>
			<string>4/0/5</string>
			<key>OpenClose</key>
			<string>4/0/1</string>
		</dict>
	</dict>
	<key>窗帘2</key>
	<dict>
		<key>objectType</key>
		<string>Curtain</string>
		<key>Curtain</key>
		<dict>
			<key>StatusHeight</key>
			<string>4/0/12</string>
			<key>MoveToPosition</key>
			<string>4/0/8</string>
			<key>Stop</key>
			<string>4/0/4</string>
			<key>OpenClose</key>
			<string>4/0/0</string>
		</dict>
	</dict>
	<key>床头灯左</key>
	<dict>
		<key>objectType</key>
		<string>Light</string>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/9</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/10</string>
		</dict>
	</dict>
	<key>床头灯右</key>
	<dict>
		<key>objectType</key>
		<string>Light</string>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/11</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/12</string>
		</dict>
	</dict>
</dict>
</plist>
