<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6</key>
	<dict>
		<key>会议区窗帘</key>
		<dict>
			<key>objectType</key>
			<string>Curtain</string>
			<key>Curtain</key>
			<dict>
				<key>StatusHeight</key>
				<string>0/6/12</string>
				<key>MoveToPosition</key>
				<string>0/6/6</string>
				<key>Stop</key>
				<string>0/6/5</string>
				<key>OpenClose</key>
				<string>0/6/4</string>
			</dict>
		</dict>
	</dict>
	<key>5</key>
	<dict>
		<key>运营部窗帘</key>
		<dict>
			<key>objectType</key>
			<string>Curtain</string>
			<key>Curtain</key>
			<dict>
				<key>StatusHeight</key>
				<string>0/6/11</string>
				<key>MoveToPosition</key>
				<string>0/6/3</string>
				<key>Stop</key>
				<string>0/6/2</string>
				<key>OpenClose</key>
				<string>0/6/1</string>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>会议区灯2</key>
		<dict>
			<key>objectType</key>
			<string>Light</string>
			<key>ValueLength</key>
			<string>1Bit</string>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/0/12</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/1/12</string>
			</dict>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>会议区灯1</key>
		<dict>
			<key>objectType</key>
			<string>Light</string>
			<key>ValueLength</key>
			<string>1Bit</string>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/0/19</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/1/19</string>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>行政部灯</key>
		<dict>
			<key>objectType</key>
			<string>Light</string>
			<key>ValueLength</key>
			<string>1Bit</string>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/0/16</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/1/16</string>
			</dict>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>销售部灯</key>
		<dict>
			<key>objectType</key>
			<string>Light</string>
			<key>ValueLength</key>
			<string>1Bit</string>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/0/20</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/1/20</string>
			</dict>
		</dict>
	</dict>
	<key>0</key>
	<dict>
		<key>运营部灯</key>
		<dict>
			<key>objectType</key>
			<string>Light</string>
			<key>ValueLength</key>
			<string>1Bit</string>
			<key>WriteToGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/0/21</string>
			</dict>
			<key>ReadFromGroupAddress</key>
			<dict>
				<key>0</key>
				<string>0/1/21</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
