<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RoomList</key>
	<dict>
		<key>1</key>
		<string>LivingDiningRoom</string>
		<key>2</key>
		<string>NorthMainBedroom</string>
		<key>3</key>
		<string>SecondBedroom</string>
		<key>4</key>
		<string>ButleRoom</string>
	</dict>
	<key>Scene</key>
	<dict>
		<key>0</key>
		<dict>
			<key>上班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/1</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/1</string>
				</dict>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>下班</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>1</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/2</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/2</string>
				</dict>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>迎宾</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>2</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/3</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/3</string>
				</dict>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>睡眠</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/3</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/1</string>
				</dict>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>起夜</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/4</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/1</string>
				</dict>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>节能</key>
			<dict>
				<key>objectType</key>
				<string>Scene</string>
				<key>ValueLength</key>
				<string>1Byte</string>
				<key>SceneNumber</key>
				<string>0</string>
				<key>WriteToGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/5</string>
				</dict>
				<key>ReadFromGroupAddress</key>
				<dict>
					<key>0</key>
					<string>1/1/1</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
